doctype html
html
    head
        title= title
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.js')
        script(src='/javascripts/three.js')
        script(src='/javascripts/feelings.js')

    block content
        div#render-area
        div#tweet Tweet text