doctype html
html
    head
        title= title
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Raleway")
        script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.js')
        script(src='/javascripts/three.js')
        script(src="/javascripts/TrailRenderer.js")
        script(src='/javascripts/feelings.js')
    block content
        div
            h1 Welcome to TweetFeels
            p Discover the feelings floating around on Twitter! Change the hashtag and see what people feel about it right now.
        div#int
            div#hash(action="")
                div #
                    input#tagInput(type='text' placeholder='twitter hashtag' name='#')
                    div#button Ok
        div#show
            div#render-area
            article#tweet