html{
    color:white;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: black;
    padding:2em 5em;
}

h1{

    font-size: 2.5em;
}

#hash{
    font-size: 2em;
    color: white;
    padding-top: 3%;
    width: 50%;
    margin-left: 1%;
    display: block;

}

#input {
    display: inline;
    border:none;
    border-bottom: 1px solid;
    border-color: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-color: black;
    font-size: .8em;
    color:white;
    padding-left: 1.2em;
    min-width: 100px;
}

input[type=submit] {
    font-family: 'Raleway', sans-serif;
    font-size: .5em;
    color:white;
    border: 1px solid white;
    border-radius: 2px;
    background-color: black;
    padding: .4em .5em;
    width: 20%;
    margin-left: 3%;
}
div#button{
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: .5em;
    color:white;
    border: 1px solid white;
    border-radius: 2px;
    background-color: black;
    padding: .4em .5em;
    width: 20%;
    margin-left: 3%;
}

div#button:hover{
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    border:none;
}


input#tagInput[type=submit]:hover{

    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    border:none;
}

#int{
    display: block;
    width: 100%;
    padding-bottom: 2em;

}

#about {
    z-index: 1000;
    position: absolute;
    left: 20px;
    top: 60px;
    width: 250px;
    background: #eee;
    border: 1px solid #333;
    padding: 6px;
}
div#render-area {
    height: 380px;
    width: 65%;
    min-width: 400px;
    margin-top: 1em;
    display: block;
    position: static; /* fixed or static */
    background-color: black;
    float: left;
}
article#tweet {
    width: 65%;
    min-width: 400px;
    height: 3em;
    position: static;
    background-color: #aaaaaa;
    opacity: 1;
    float: left;

}
@media screen and (max-width: 480px) {
    body {

        background-color: black;
        color: white;
        padding:1.5em 2em;
        height: 100%;
        display: block;
    }

    h1 {
        font-size:2em;
    }

    p {
        font-size: 1em;
        padding-top:2em;
    }



    input#tagInput[type=submit]{
        padding: 3%;
        width: 5em;
        margin-right: 1em;
    }

    input#tagInput[type=text]{
        padding: 2%;
        width: 50%;
        font-size: 0.8em;

    }

    #hash{
        display: block;
        width: 100%;
        padding: 5% 5% ;
        margin-left: 2%;
        font-size: 2em;
        float:left;
    }
    #int{
        float:left;
        width: 100%;
    }

    input#tagInput{
        max-width: 200px;
    }

    #render-area{
        max-width: 40%;

    }

}